{% extends "base.html" %}
{% block content %}
    <script>
        $(document).ready(function(){
            var hdjc = $("#hdjc").val()
            console.log(hdjc)
            if(hdjc == "话单监测"){
                $("#huadan").addClass("active")
            }
        })
        function movefile() {
            var source = $("#source").val()
            var dest = $("#dest").val()
            param = "source=" + source + "&dest=" + dest
            $.post('/open', param, function (data) {
                {#$("#message").css("display", 'block');#}
                if (data["status"] == 'normal') {
                    window.location.reload()
                } else if (data["status"] == 'exists'){
                    bootbox.alert({'title': '错误提示', 'message': '该任务已存在.'})
                }
                else if (data["status"] == 'live'){
                    bootbox.alert({'title': '错误提示', 'message': '已有任务存在，请先结束任务！'})
                }else {
                    window.location.reload()
                }
            })
        }

        function stopmvfile() {
            var source = $("#source").val()
            var dest = $("#dest").val()
            param = "source=" + source + "&dest=" + dest
            $.post('/close', param, function (data) {
                if (data == 'no-find') {
                    bootbox.alert({'title': '错误提示', 'message': '没有找到指定目录.'})
                    window.location.reload()
                } else {
                    bootbox.alert({'title': '错误提示', 'message': '已暂停.'})
                    window.location.reload()

                }
            })
        }
    </script>

    <div class="form-row">
        <input type="text" class="form-control" id="hdjc" style="display: none" value="话单监测">
        <div class="col">
            <input type="text" class="form-control" id="source" placeholder="源话单路径">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="dest" placeholder="目的路径">
        </div>

        <div class="col">
            <button type="submit" class="btn btn-primary " onclick="movefile()">启动</button>
        </div>

        <div class="col">
            <button type="submit" class="btn btn-primary " onclick="stopmvfile()">暂停</button>
        </div>
    </div>
    {% for path in list %}
    <div class="alert alert-success" style="display: block;margin: 10px" role="alert">
    {{ "正在监控"+path[0]+"目录,备份目录为:" +path[1]}}
    </div>
    {% endfor %}
    <div class="alert alert-success" style="display: none;margin: 10px" role="alert" id="message">
    </div>
{% endblock %}